build/
sim/.venv/
sim/build_*/
sim/__pycache__/
sim/results.xml
sim/*.result.xml
__pycache__/
*.pyc
firmware_sdcard_ls/*.o
firmware_sdcard_ls/*.d
firmware_sdcard_ls/*.elf
firmware_sdcard_ls/*.bin
firmware_sdcard_ls/*.elf.map
firmware_led_anim/*.o
firmware_led_anim/*.d
firmware_led_anim/*.elf
firmware_led_anim/*.bin
firmware_led_anim/*.elf.map
